.dashboard-logo {
  width: 12em;
  height: 220px;
  /* object-fit: contain; */
  /* margin: 20px 0; */
  margin: auto;
}

.ion-page {
  --ion-background-color: #daa520;
}

ion-footer {
  background-color: black;
}

ion-label {
  color: white;
}
.card-for-dashboard {
  background-color: white;
  width: 11em;
  height: 11em;
  text-align: center;
  justify-content: center;
  display: flex;
}
.login-logo {
  display: flex;
  justify-content: center;
}
