.login-container {
  --ion-background-color: #daa520;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.login-logo {
  width: 150px;
  height: 150px;
  margin-bottom: 20px;
  object-fit: contain;
}
